nav {
    margin-top: 2rem;
    margin-left: 11rem;
    
    margin-right: 11rem;
    display: flex;  /* Para colocar logo e botão em linha */
    justify-content: space-between;  /* Espaço entre os elementos */
    align-items: center;  /* Alinhar verticalmente no centro */
    padding: 20px;  /* Adicionando um padding para um espaçamento */
    
  }



    .button-1 {
      background-color: var(--pink-dark);  /* Cor de fundo inicial */
      padding: 10px 20px;  /* Tamanho do botão */
      color: white;  /* Cor do texto */
      border: none;  /* Remover borda */
      border-radius: 5px;  /* Bordas arredondadas */
      cursor: pointer;  /* Cursor ao passar o mouse */
      transition: background-color 0.3s ease; /* Transição suave de cor */
      
      &:hover {
        background-color: var(--pink-low);
        color: #fff;  /* Cor do texto permanece branca no hover */
      }
  }
  h1 {
    margin-top: 1000000px;
    font-size: 40px;
    color: azure;
    font-family: Arial, sans-serif;
    text-transform: lowercase;
    text-align: center;
 
    margin: 0 auto;    /* centraliza o container */
    padding: 0 20px;   /* espaçamento lateral */
margin-bottom: 5em;
  
    &::first-letter {
      text-transform: uppercase;
    }

    

  }

  .imagem-transition {
   
    margin-top: -10rem;
    width: 100%;
    height: 100vh; /* usando vh ao invés de % para garantir altura total */
  
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* removido 'em' pois z-index não usa unidades */
    position: relative; /* ou absolute/fixed dependendo do seu layout */
    margin-bottom: 17rem;

  }


  .cool-effects-1 {

    margin-left: 870px;
  }

  .cool-effects-2 {
  margin-top: -400px;


  }

  .cool-effects-3 {

    margin-left: 1750px;
    margin-top: -90px;
  }
  @keyframes appearing {


     0% {

      transform: scale(1)
    }; 




    50% {

      transform: scale(1.1);
    }


    100% {
      transform: scale(1);
    }



  }


  .aprensentacao {

    margin-top: 700rem;
  }

  .imagem-transition-2 {

    font-size: medium;
    margin-top: 10rem;
    margin-left: 45rem;
    
      }


    .assinatura-imagem-transition-3 {
      margin-top: 30rem;
    margin-left: 52rem;
     
    }

     
      .imagem-transition-4 {
        
         margin-top: 40rem;
         position: relative;
         width: 100%;
         
      } 
      .imagem-transition-5 {
        position: absolute;
        left: 10rem;
        bottom: 5rem;
        padding: 20px; /* ajuste conforme necessário */
        max-width: 200px; /* ajuste conforme o tamanho desejado da logo */
        z-index: 10;  
        display: flex;  /* Para colocar logo e botão em linha */
        justify-content: space-between;  /* Espaço entre os elementos */
        align-items: center;  /* Alinhar verticalmente no centro */
        padding: 20px;  /* Adicionando um padding para um espaçamento */
        gap: 50rem;
        margin-bottom: -100px;
       
    }
    
    /*.imagem-transition-6 {
      
      order: 1;
    }
*/



/*.imagem-transition {
  transition: transform 0.5s ease;
}

.imagem-transition:hover {
  transform: scale(1.1);
}
*/
  
  .footer-content {
 
    
 display: flex;
      gap: 100px; 
      margin-left: 85rem;
      margin-top: -260px;
    
      margin-bottom: -90px;
      z-index: 10;
      



  }
  
  .footer-section h3 {
      color: white;
      margin-bottom: 30px;
      font-size: 18px;
  }
  
  .footer-section ul {
      list-style: none;
      padding: 0;
  }
  
  .footer-section ul li {
      margin-bottom: 10px;
  }
  
  .footer-section ul li a {
      color: #8B8B8B; /* cor cinza para os links */
      text-decoration: none;
      font-size: 16px;
  }
  
  .footer-section ul li a:hover {
      color: white;
  }

  .titulo-2 {
    margin-top: 1000000px;
    font-size: 40px;
    color: azure;
    font-family: Arial, sans-serif;
    text-transform: lowercase;
    text-align: center;
 
    margin: 0 auto;    /* centraliza o container */
    padding: 0 20px;   /* espaçamento lateral */
    margin-bottom: 1px;
  
    &::first-letter {
      text-transform: uppercase;
    }


   
  }

  .titulo-3{

   
    font-size: 40px;
    color: azure;
    font-family: Arial, sans-serif;
    text-transform: lowercase;
   
 
 
    padding: 0 20px;   /* espaçamento lateral */
    margin-bottom: 1px;
    margin-left: -250px;
    &::first-letter {
      text-transform: uppercase;
    }
  }


  
  .titulo-4{
    font-size: 40px;
    color: azure;
    font-family: Arial, sans-serif;
    text-transform: lowercase;
    margin-left: -250px;
   
    padding: 0 20px;   /* espaçamento lateral */
    margin-bottom: 10rem;
   
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .titulo-5 {

    font-size: 25px;
    color: azure;
    font-family: Arial, sans-serif;
    text-transform: lowercase;
    margin-left: 43rem;
   
 
    margin-bottom: 10rem;
   
    &::first-letter {
      text-transform: uppercase;
    }

    
  }


  


  h2 {
    margin-left: 44rem;
     font-weight: unset;
    font-size: 27px;
    color: azure;
    font-family: Arial, sans-serif;
    text-transform: lowercase;
    text-align: center;
    max-width: 800px;  /* limita a largura do texto */
    margin: 0 auto;    /* centraliza o container */
    padding: 0 20px;   /* espaçamento lateral */

  
    &::first-letter {
      text-transform: uppercase;
    }
  

  }






  

  @media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    .logo {
        align-self: center;
    }
    .button-1 {
        margin-top: 20px;
    }
}
