nav {
    margin-top: 2rem;
    margin-left: 11rem;
    
    margin-right: 11rem;
    display: flex;  /* Para colocar logo e botão em linha */
    justify-content: space-between;  /* Espaço entre os elementos */
    align-items: center;  /* Alinhar verticalmente no centro */
    padding: 20px;  /* Adicionando um padding para um espaçamento */
    
  }


  .button-1 {
    background-color: var(--pink-dark);
    padding: 10px 20px;  /* Tamanho do botão */
    
    color: white;  /* Cor do texto */
    border: none;  /* Remover borda */
    border-radius: 5px;  /* Bordas arredondadas */
    cursor: pointer;  /* Cursor ao passar o mouse */
    
  }

  h1 {
    margin-top: 1000000px;
    font-size: 40px;
    color: azure;
    font-family: Arial, sans-serif;
    text-transform: lowercase;
    text-align: center;
 
    margin: 0 auto;    /* centraliza o container */
    padding: 0 20px;   /* espaçamento lateral */
margin-bottom: 5em;
  
    &::first-letter {
      text-transform: uppercase;
    }

    

  }

  .imagem-transition {
   
    margin-top: -10rem;
    width: 100%;
    height: 100vh; /* usando vh ao invés de % para garantir altura total */
  
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* removido 'em' pois z-index não usa unidades */
    position: relative; /* ou absolute/fixed dependendo do seu layout */
    margin-bottom: 17rem;
  }

  .imagem-transition-2 {



  }
  .imagem-transition-3 {

    font-size: medium;
    margin-top: 10rem;
    margin-left: 45rem;
    
      }



  .titulo-2 {
    margin-top: 1000000px;
    font-size: 40px;
    color: azure;
    font-family: Arial, sans-serif;
    text-transform: lowercase;
    text-align: center;
 
    margin: 0 auto;    /* centraliza o container */
    padding: 0 20px;   /* espaçamento lateral */
    margin-bottom: 1px;
  
    &::first-letter {
      text-transform: uppercase;
    }


   
  }

  h2 {
    margin-left: 44rem;
     font-weight: unset;
    font-size: 27px;
    color: azure;
    font-family: Arial, sans-serif;
    text-transform: lowercase;
    text-align: center;
    max-width: 800px;  /* limita a largura do texto */
    margin: 0 auto;    /* centraliza o container */
    padding: 0 20px;   /* espaçamento lateral */

  
    &::first-letter {
      text-transform: uppercase;
    }
  

  }






  

